<h1>Category: <%= @category.name %>'s profile </h1>


<%= will_paginate @articles  %>

<% if logged_in? && current_user.admin? %>

<%= link_to "Edit category name", edit_category_path(@category) %>
<br/>

<%end %>

<%= render 'articles/article' %>
